<div class="login-form" login-page disable-if="submitting" full-screen-page>
    <div class="login-wrapper">
        <a class="close-button" ng-href="{{closeHref}}" ng-click="close()"></a>

        <div class="login-header" ng-show="state === 'login'">
            <h1>Log In</h1>
            <p class="msg error-msg" ng-show="authError">Username or password is incorrect.</p>
        </div>
        <div class="congratulation-header" ng-show="state === 'accountActivated'">
            <h1>Congratulations!</h1>
            <p class="msg">Your account has been activated.</p>
        </div>
        <form ng-submit="login()">
            <fieldset>
                <div class="input-wrapper">
                    <input id="username" type="text" tabindex="1" placeholder="Username"
                           ng-class="{'login-error': authError}" ng-model="user.username" required>
                    <span class="input-wrapper-span" ng-class="{'login-error': authError}"><i class="fa fa-user"></i></span>
                </div>
                <div class="input-wrapper">
                    <input id="password" class="pass" type="password" tabindex="2" placeholder="Password"
                           ng-model="user.password" required>
                    <span class="input-wrapper-span"><i class="fa fa-unlock-alt"></i></span>
                </div>
                <div class="wrapper">
                    <div class="item remember">
                        <input id="remember" type="checkbox">
                        <label class="checkbox" for="remember"></label>
                        <label class="text" for="remember"> Remember me</label>
                    </div>
                    <div class="item forgot-pass login-hidden">
                        <a href="" class="forgot-pass">Forgot password?</a>
                    </div>
                </div>
                <div class="btn-container">
                    <button type="submit" class="btn btn-brand">LOG IN</button>
                </div>
            </fieldset>
        </form>
        <div class="separator">
        </div>
        <form action="{{authUrl}}">
            <input type="hidden" name="client_id" value="{{clientId}}"/>
            <input type="hidden" name="redirect_uri" value="{{redirectUri}}"/>
            <input type="hidden" name="resource" value="{{resource}}"/>
            <input type="hidden" name="response_type" value="code"/>
        </form>
        <div class="logo-image">
            <a class="image" ng-href="{{marketingEndpoint}}" target="_self"></a>
        </div>
    </div>
</div>
