<div class="dashboard" data-index="{{index}}" id="{{id}}">
    <div class="drag-label"><i class="fa fa-arrows"></i></div>

    <div class="list-item">
        <div class="image {{::type}}"></div>
        <div class="description" ng-class="{'overflow-content': showMore}">
            <div class="name" ng-bind="::name"></div>
            <div class="widget-list-wrapper">
                <div class="widget-list" ng-bind="::widgetList"></div>
            </div>
            <div class="show-widget-list"><span>Show more <i class="fa fa-angle-down"></i></span></div>
            <div class="hide-widget-list"><span>Hide <i class="fa fa-angle-up"></i></span></div>
        </div>
    </div>

    <div class="used-item">
        <span class="home-dashboard-icon"><i class="fa fa-home"></i>{{::name}}</span>
        <span class="dashboard-settings-icon"><i class="fa fa-ellipsis-v"></i></span>
    </div>
</div>
