<!-- footer -->
<div class="footer">
    <div class="wr">
        <a href="https://www.epam.com" target="_blank" class="footerLogo">EPAM</a>

        <div class="copy"><a href="https://www.epam.com" target="_blank">&copy; EPAM Systems</a></div>
        <div class="terms">
            <ul>
                <li><a ui-sref="underConstruction">Terms of Service</a></li>
                <li><a ng-href="{{::marketingEndpoint + '/privacy-policy'}}" target="_blank">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</div>
