<header class="header">
    <nav class="nav" uib-dropdown>

        <div class="close-nav">
            <a href="javascript:void(0)" class="show-menu"><i class="fa fa-times"></i></a>
            <a ui-sref="home" class="logo">Appsngen</a>
        </div>

        <a href="javascript:void(0)" class="show-menu burger-menu" uib-dropdown-toggle><i class="fa fa-bars"></i></a>
        <div class="state-name"><span ng-bind="title"></span></div>

        <div class="menu-wrapper" uib-dropdown uib-dropdown-menu>
            <div class="account-information" uib-dropdown-toggle>
                <div class="account-logo"></div>
                <div class="text">
                    <p class="name"><span ng-bind="username"/><span class="down-arrow"></span></p>
                    <p class="company"><span ng-bind="organizationName"/></p>
                </div>
            </div>

            <ul class="main-menu">
                <li title="Marketplace" class="mob-menu" ng-class="{active : state === 'marketplace'}">
                    <a ui-sref="underConstruction">Marketplace</a>
                </li>
                <li title="Sandbox" class="mob-menu" ng-class="{active : state === 'sandbox'}">
                    <a ui-sref="sandbox.widgets">Sandbox</a>
                </li>
                <li title="Preferences" class="mob-menu" ng-class="{active : state === 'preferences'}">
                    <a ui-sref="underConstruction">Preferences</a>
                </li>
                <li title="Subscriptions" class="mob-menu" ng-class="{active : state === 'subscriptions'}">
                    <a ui-sref="subscriptions.widgets">Subscriptions</a>
                </li>
            </ul>

            <div class="account-menu" uib-dropdown-menu>
                <p class="account-menu-header">User Profile</p>
                <ul>
                    <li class="my-account-field">
                        <a ui-sref="accountSettings">
                            <i class="fa fa-user"></i>My Account</a>
                    </li>
                    <li class="my-account-field">
                        <a ui-sref="underConstruction">
                            <i class="fa fa-sign-out"></i>Sign Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="shadow"></div>
</header>
