<div class="sidebar">
    <div class="control-items">
        <div class="search-input" ng-hide="withoutSearch">
            <search-input placeholder="Search"></search-input>
        </div>
        <div class="chevron-button">
            <a class="chevron-icons">
                <i class="fa fa-angle-left"></i>
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
    <div class="sidebar-content" ng-transclude></div>
    <div class="help">
        <a class="help-link">
            <i class="fa fa-question-circle"></i>
            <span class="text">How does it work?</span>
        </a>
    </div>
</div>
