<div class="plate-container">
    <div class="sandbox-plate uploaded">
        <div title="Delete" class="btn-delete"></div>
        <div class="img-icon">
            <img alt="{{plate.name}}" ng-src="{{getThumbnailURL(plate)}}" error-src="images/mobile-icon-2.png" class="img-icon-wide" />
        </div>
        <div>
            <h6 class="plate-name">
                {{::plate.name}}
            </h6>
            <div class="tooltip">
                {{::plate.name}}
            </div>
        </div>
            <div class="subscription-info">
                <span>
                    EPAM Systems
                </span>
            </div>
            <div class="subscription-info">
                <span>Thomson Reuters</span>
            </div>
    </div>
    <div class="plate-footer">
        <div class="date"><i class="fa fa-clock-o fa-lg"></i>{{plate.uploadDate || '15.02.2013'}}</div>
        <dropdown-menu items="actionOptions.items" ontoggle="toggled(open)"></dropdown-menu>
    </div>
</div>
