.header {
    z-index: 4;
    background: #ff8000;
    height: 57px;

    .menu-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;

        &.open > .account-menu {
            display: block;
            animation: appear .3s ease-in-out 0s 1;
        }
    }

    .show-menu {
        margin-left: 15px;
        font-size: 20px;
        display: none;
        vertical-align: middle;
        color: $text-color-white;
    }

    .nav {
        position: static;
        z-index: 4;
        min-width: 262px; //body min-width
        height: 100%;

        .logo {
            width: 240px;
            height: 40px;
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
            text-decoration: none;
            font-size: 0;
            line-height: 0;
            margin-top: 7px;
            background: url(#{$imagesPath}/sprite-branding.png) 0 -52px no-repeat transparent;
        }

        .state-name {
            display: none;
            min-height: 57px;
        }

        ul.main-menu {
            display: inline-block;
            vertical-align: top;
            margin-left: 320px;
            padding-top: 17px;

            li {
                display: block;
                position: relative;
                float: left;
                margin-right: 35px;

                a {
                    display: block;
                    position: relative;
                    text-decoration: none;
                    color: $text-color-white;
                    text-transform: uppercase;
                    font-family: 'Source Sans Pro';
                    font-size: 16px;
                }
            }
        }

        .account-information {
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            padding: 9px 20px 0 0;
            cursor: pointer;

            .account-logo {
                display: inline-block;
                vertical-align: top;
                width: 37px;
                height: 37px;
                border-radius: 37px;
                margin-right: 10px;
                margin-left: 20px;
                background: url(#{$imagesPath}/user.png) 0 0 no-repeat transparent;
            }

            .text {
                display: inline-block;
                vertical-align: top;
                color: $text-color-white;

                .name {

                }

                .company {
                    color: #f5f6f7;
                    font-size: 14px;
                    font-weight: 400;
                }
            }
            &:after {
                content: " ";
                display: inline-block;
                vertical-align: middle;
                width: 18px;
                height: 12px;
                margin: 15px 0 0 5px;
                background: url(#{$imagesPath}/home-arrow-sprite.png) 0 -8px no-repeat transparent;
                background-size: 12px 18px;
            }
        }

        .account-menu {
            display: none;
            width: 230px;
            background: $text-color-white;
            position: absolute;
            right: 0;
            top: 57px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
            z-index: 1;

            .account-menu-header {
                display: none;
                color: #ababab;
            }

            li {
                padding: 10px 20px;
            }

            i {
                margin-right: 15px;
                color: $brand-color;
            }

            a {
                position: relative;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 14px;
                color: $brand-color;
            }
        }
    }

    .shadow {
        display: none;
        position: absolute;
        width: 100%;
        height: calc(100% - 57px);
        top: 57px;
        background: rgba(1, 1, 1, 0.5);
        z-index: 1;
    }
}

@media all and (max-width: 1080px) {
    .header .nav .account-information .text {
        display: none;
    }
}

@media all and (max-width: 980px) {

    .header .nav.open > .menu-wrapper {
        transform: translateX(240px);
    }

    .header .nav.open > .close-nav {
        transform: translateX(290px);
    }

    .header .nav.open ~ .shadow {
        display: block;
    }

    .header .nav .account-information .text {
        display: inline-block;
    }

    .header .menu-wrapper {
        position: absolute;
        background: #24272D;
        width: 240px;
        padding: 30px 20px;
        height: calc(100% - 57px);
        min-height: 440px; // mobile menu height
        top: 57px;
        z-index: 2;
        left: -240px;
        transition: transform .4s ease-in;
    }

    .header .nav .close-nav {
        background: $brand-color;
        width: 290px;
        position: absolute;
        z-index: 2;
        left: -290px;
        transition: transform .4s ease-in;

        .logo {
            margin-left: 10px;
        }

        .show-menu {
            margin: 10px 0 0 15px;
        }
    }

    .header .nav .show-menu {
        display: inline-block;
    }

    .header .nav .state-name {
        display: inline-block;
        color: $text-color-white;
        vertical-align: middle;
        margin-left: 15px;
        line-height: 57px;
    }

    .header .nav .account-information:after {
        display: none;
    }

    .header .nav .account-information {
        position: relative;
        cursor: default;
        height: auto;
    }

    .header .nav .account-information .account-logo {
        margin-left: 0;
    }

    .header .nav .account-information .text .name:after {
        display: none;
    }

    .header .nav ul.main-menu {
        padding: 40px 0;
        margin: 0;
        width: 100%;
    }

    .header .nav ul.main-menu li {
        width: 100%;
        margin: 0;
        float: none;
    }

    .header .nav ul.main-menu li a {
        padding: 10px 0;
    }

    .header .nav .account-menu {
        display: block !important;
        width: 100%;
        background: none;
        position: relative;
        box-shadow: none;
        top: 0;
    }

    .header .nav .account-menu .account-menu-header {
        display: block;
    }

    .header .nav .account-menu li {
        padding: 10px 0;
    }

    .header .nav .account-menu i {
        color: $brand-color;
    }

    .header .nav .account-menu a {
        color: $brand-color;
    }

    .header .shadow {
        display: none;
    }
}
