$font-family-sans-pro: "Source Sans Pro", "Trebuchet MS", Helvetica, sans-serif !default;
$font-family-oswald: "Oswald Regular", "Arial Black", Gadget, sans-serif !default;
$font-family-base: $font-family-sans-pro !default;

$brand-color: #ff8000;
$status-color-green: #a3c644;
$status-color-orange: #efbf24;
$status-color-red: #ee6a57;
$main-background-color: #f5f6f7;

$text-color-white: #fff;
$text-color-black: #303030;
$text-color-grey: #929394;

$success-color: #abcb56;
$error-color: #f07967;
$warning-color: #ec8e3a;
$info-color: #4bc7da;

$font-size-base: 16px !default;
$font-size-lg: 1.25rem !default;
$font-size-sm: .85rem !default;
$font-size-xs: .75rem !default;

$font-size-h1: 72px !default;
$font-size-h2: 42px !default;
$font-size-h3: 30px !default;
$font-size-h4: 24px !default;
$font-size-h5: 20px !default;
$font-size-h6: 16px !default;

$headings-font-family: $font-family-oswald !default;
$headings-font-weight: 500 !default;
$headings-line-height: 1.1 !default;
$headings-color: inherit !default;

$line-height-lg: (4/3) !default;
$line-height-sm: 1.5 !default;

//paths
$imagesPath: '../images';
$fontsPath: '../fonts';
