<div class="full-screen-page-header">
    <div class="header-flex header-flex-left">
        <a class="change-name-button"></a>
        <p class="header-text">New Application</p>
    </div>

    <div class="header-flex header-flex-center"></div>

    <div class="header-flex header-flex-right">
        <device-switcher layouts="['desktop']"
                         switch-callback="switchCallback"
                         toggle-layout-callback="toggleLayoutCallback"></device-switcher>
        <a class="save-button"><i class="fa fa-floppy-o"></i><span class="save-button-text">Save changes</span></a>
        <a class="close-button"></a>
    </div>
</div>
