.sandbox-content {
    margin: 0 auto;
    padding: 20px;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sandbox-page {
    width: 100%;
}

@media screen and (max-width: 768px) {

    .sandbox-page {

        .sandbox-content {
            padding: 20px 0;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 420px) {

    .sandbox-content {

        li:nth-child(odd) {

            .options-list {
                left: -115px;
            }
        }

        li:nth-child(even) {

            .plate-footer {

                .options-list {
                    left: -150px;
                }
            }

            .options-list {
                left: -155px;
            }
        }
    }
}
